body {
    overflow-y: hidden;
    /* Oculta el scroll vertical */
}


.nav {
    padding: 25px;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* Ajusta el contenido de la imagen */
}

img {
    filter: brightness(60%);
    /* Reduce el brillo para oscurecer */
}